.profile-background {
  margin: auto;
   height: 270px;
   width: 1400px;
   overflow: hidden;;
 }

.profile-pic {
  margin-left: 10%;
  margin-top: -10%;
  border:
}

.short-content {
  margin-top: -12%;
}

.short-bio {
  margin-top: -8%;
}

.vehicle-list {
  margin-top: -8%;
}

.body-place {
  background-color: black;
  margin-bottom: 100%;
}
