.profile-background {
  margin: auto;
   height: 270px;
   width: 1400px;
   overflow: hidden;;
 }

.profile-pic {
  margin-left: 10%;
  margin-top: -10%;
  border:
}

.content-short {
  margin-left: 35%;
  margin-top: -10%;
}


.short-bio {
  margin-left: 30%;
  margin-top: -8%;
}

.vehicle-list {
  margin-left: 60%;
  margin-top: -8.5%;
}
