.profile-background {
  margin: auto;
   height: 270px;
   width: 1400px;
   overflow: hidden;;
   border-radius: 0px 0px 12px 12px;
 }

#logo {
  padding-top: 10%;
  height: 50px;
  width: 100px;
  margin-left: 20px;
}

.profile-pic {
  margin-left: 10%;
  margin-top: -10%;
}

.profile-pic2 {
  border-radius: 12px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .3), 0 10px 10px 0 rgba(0, 0, 0, .3);
}

.tab {
  border-radius: 10px 10px 0 0;
}

.white2 {
  color: white !important;
}

.short-content {
  margin-top: -12%;
}

.short-bio {
  margin-top: -8%;
}

.vehicle-list {
  margin-top: -8%;
}

.body-place {
  background-color: black;
  margin-bottom: 100%;
}
